<header class="header">
    <div class="header-left">
        <div class="name-bengali">হীরেন্দ্র কুমার গরাই</div>
        <div class="name-casual">
            You can call me <em data-tooltip="Play audio">Hiren</em>
            <audio id="pronounce" preload="none">
                <source src="{{ '/assets/audio/name.mp3' | relative_url }}" type="audio/mpeg">
            </audio>
        </div>
    </div>
    <div class="header-right">
        <div class="header-info">
            <div class="name-official">Hirendra Kumar Garai</div>
            <div class="header-email">
                <a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a>
            </div>
        </div>
        <img src="{{ '/assets/images/hirendra-potrait2.jpg' | relative_url }}" alt="Hiren Garai" class="profile-image">
    </div>
</header>
